body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:210px;
  top:20px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:281px;
  top:20px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#0099FF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:352px;
  top:20px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#0099FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u5 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:423px;
  top:20px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#0099FF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:494px;
  top:20px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#0099FF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u8_img.mouseOver {
}
#u8.mouseOver {
}
#u9 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:110px;
  top:20px;
  width:80px;
  height:30px;
  font-size:14px;
  color:#F2F2F2;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:565px;
  top:20px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#0099FF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:636px;
  top:20px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#0099FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14_img.mouseOver {
}
#u14.mouseOver {
}
#u15 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:849px;
  top:20px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#0099FF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:920px;
  top:20px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#0099FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:970px;
  top:20px;
  width:80px;
  height:30px;
  font-size:14px;
  color:#0099FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u20_img.mouseOver {
}
#u20.mouseOver {
}
#u20_img.disabled {
}
#u20.disabled {
}
#u21 {
  position:absolute;
  left:2px;
  top:5px;
  width:76px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:707px;
  top:20px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#0099FF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:778px;
  top:20px;
  width:30px;
  height:30px;
  font-size:14px;
  color:#0099FF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u24_img.mouseOver {
}
#u24.mouseOver {
}
#u25 {
  position:absolute;
  left:2px;
  top:5px;
  width:26px;
  word-wrap:break-word;
}
