body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:665px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:665px;
}
#u2 {
  position:absolute;
  left:2px;
  top:324px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1250px;
  top:43px;
  width:20px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:10px;
  width:410px;
  height:100px;
  font-family:'Broadway Regular', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#C8B3B3;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:100px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1277px;
  top:20px;
  width:30px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1227px;
  top:22px;
  width:30px;
  height:30px;
  color:#C8B3B3;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1174px;
  top:22px;
  width:30px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1122px;
  top:22px;
  width:33px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1082px;
  top:22px;
  width:30px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1254px;
  top:47px;
  width:20px;
  height:13px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1141px;
  top:44px;
  width:20px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1145px;
  top:48px;
  width:20px;
  height:13px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:353px;
  top:130px;
  width:490px;
  height:124px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:124px;
}
#u25 {
  position:absolute;
  left:2px;
  top:54px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:698px;
  top:142px;
  width:100px;
  height:100px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u27 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:363px;
  top:140px;
  width:200px;
  height:16px;
  font-size:14px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:363px;
  top:169px;
  width:200px;
  height:16px;
  font-size:14px;
  color:#3333FF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:359px;
  top:221px;
  width:30px;
  height:30px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u33 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:422px;
  top:220px;
  width:30px;
  height:30px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u35 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:449px;
  top:221px;
  width:30px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:474px;
  top:222px;
  width:30px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:391px;
  top:222px;
  width:30px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:353px;
  top:271px;
  width:200px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#333333;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:19px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:1172px;
  top:169px;
  width:37px;
  height:51px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:51px;
}
#u46 {
  position:absolute;
  left:2px;
  top:18px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1215px;
  top:184px;
  width:115px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#C8B3B3;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:24px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1179px;
  top:319px;
  width:30px;
  height:30px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1179px;
  top:279px;
  width:30px;
  height:30px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:1179px;
  top:239px;
  width:30px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1218px;
  top:244px;
  width:112px;
  height:16px;
  font-size:14px;
  color:#C8B3B3;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1219px;
  top:284px;
  width:111px;
  height:16px;
  font-size:14px;
  color:#C8B3B3;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1219px;
  top:324px;
  width:111px;
  height:16px;
  font-size:14px;
  color:#C8B3B3;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:1160px;
  top:269px;
  width:20px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u62 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1167px;
  top:273px;
  width:20px;
  height:13px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1173px;
  top:312px;
  width:10px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:80px;
  top:132px;
  width:230px;
  height:80px;
  font-family:'MV Boli Bold', 'MV Boli';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#C8B3B3;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:80px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:699px;
  top:143px;
  width:98px;
  height:98px;
  overflow:hidden;
}
#u69_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:98px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u69_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u71 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:98px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u69_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u73 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:98px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u69_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u75 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:353px;
  top:293px;
  width:486px;
  height:313px;
}
#u76_input {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:313px;
}
