body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:20px;
  width:220px;
  height:390px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:390px;
}
#u1 {
  position:absolute;
  left:2px;
  top:187px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:168px;
  top:247px;
  width:103px;
  height:26px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
  line-height:24px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:26px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u3 {
  position:absolute;
  left:2px;
  top:1px;
  width:99px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:120px;
  top:30px;
  width:200px;
  height:200px;
  font-size:14px;
  color:#CCCCCC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u5 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:150px;
  top:307px;
  width:141px;
  height:33px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CC00;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:178px;
  top:278px;
  width:72px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:176px;
  top:282px;
  width:81px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:64px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:81px;
  height:1px;
}
#u11 {
  position:absolute;
  left:132px;
  top:350px;
  width:175px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:171px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:110px;
  top:20px;
  width:220px;
  height:390px;
  overflow:hidden;
  visibility:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:390px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:390px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:390px;
}
#u15 {
  position:absolute;
  left:2px;
  top:187px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:42px;
  top:170px;
  width:135px;
  height:32px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#66CC00;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:32px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:60px;
  top:235px;
  width:100px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u18_img.mouseOver {
}
#u18.mouseOver {
}
#u19 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:94px;
  top:115px;
  width:30px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:168px;
  top:464px;
  width:103px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#0099FF;
  line-height:24px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:20px;
}
#u22_img.mouseOver {
}
#u22.mouseOver {
}
#u23 {
  position:absolute;
  left:2px;
  top:-2px;
  width:99px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:110px;
  top:490px;
}
#u24_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u24_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:220px;
  font-size:14px;
  color:#CCCCCC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:220px;
}
#u26 {
  position:absolute;
  left:2px;
  top:102px;
  width:216px;
  word-wrap:break-word;
}
#u24_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u24_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:23px;
  top:55px;
  width:175px;
  height:110px;
  font-size:14px;
  text-align:center;
  line-height:22px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:110px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:220px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:220px;
}
#u30 {
  position:absolute;
  left:2px;
  top:102px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:177px;
  top:730px;
  width:85px;
  height:19px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:19px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:100px;
  top:430px;
  width:960px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u34 {
  position:absolute;
  left:100px;
  top:790px;
  width:960px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:960px;
  height:1px;
}
#u35 {
  position:absolute;
  left:605px;
  top:840px;
  width:130px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:113px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:130px;
  height:1px;
}
