body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:650px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:650px;
}
#u2 {
  position:absolute;
  left:2px;
  top:317px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1244px;
  top:43px;
  width:20px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:4px;
  top:10px;
  width:410px;
  height:100px;
  font-family:'Broadway Regular', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#C8B3B3;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:100px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1271px;
  top:20px;
  width:30px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1221px;
  top:22px;
  width:30px;
  height:30px;
  color:#C8B3B3;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1168px;
  top:22px;
  width:30px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1116px;
  top:22px;
  width:33px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1076px;
  top:22px;
  width:30px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1248px;
  top:47px;
  width:20px;
  height:13px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1135px;
  top:44px;
  width:20px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u21 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1139px;
  top:48px;
  width:20px;
  height:13px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:334px;
  top:138px;
  width:530px;
  height:390px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:390px;
}
#u26 {
  position:absolute;
  left:2px;
  top:187px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:364px;
  top:148px;
  width:30px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:403px;
  top:154px;
  width:200px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:24px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:372px;
  top:191px;
  width:200px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:372px;
  top:220px;
  width:200px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:372px;
  top:248px;
  width:200px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:372px;
  top:274px;
  width:200px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:372px;
  top:333px;
  width:150px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:571px;
  top:368px;
  width:10px;
  height:7px;
}
#u41_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u41_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u41_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u42 {
  position:absolute;
  left:390px;
  top:368px;
  width:10px;
  height:7px;
}
#u42_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u42_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u42_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u43 {
  position:absolute;
  left:395px;
  top:367px;
  width:180px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u44 {
  position:absolute;
  left:396px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u44_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u44_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:415px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u45_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u45_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:434px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u46_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:453px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u47_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u47_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:472px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u48_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:491px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u49_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50 {
  position:absolute;
  left:510px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:529px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u51_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52 {
  position:absolute;
  left:547px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u52_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u52_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:565px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u53_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u53_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:372px;
  top:364px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u54_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u54_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u55 {
  position:absolute;
  left:576px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u55_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u55_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:397px;
  top:363px;
  width:178px;
  height:20px;
  overflow:hidden;
}
#u56_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u56_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:477px;
  top:361px;
  width:10px;
  height:21px;
  overflow:hidden;
  touch-action:none;
}
#u57_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u57_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:25px;
  overflow:hidden;
}
#u58_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u58_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u60 {
  position:absolute;
  left:2px;
  top:2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:372px;
  top:409px;
  width:30px;
  height:30px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u62 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:474px;
  top:407px;
  width:100px;
  height:100px;
  overflow:hidden;
}
#u63_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u65 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u67 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u69 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u63_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u71 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:471px;
  top:245px;
  width:101px;
  height:27px;
  font-size:14px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u73 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:473px;
  top:248px;
  width:98px;
  height:22px;
}
#u74_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u75 {
  position:absolute;
  left:628px;
  top:216px;
  width:210px;
  height:160px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:160px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76 {
  position:absolute;
  left:628px;
  top:190px;
  width:200px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:472px;
  top:191px;
  width:132px;
  height:20px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u78_input:disabled {
  color:grayText;
}
#u79 {
  position:absolute;
  left:473px;
  top:218px;
  width:132px;
  height:20px;
}
#u79_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u79_input:disabled {
  color:grayText;
}
#u80 {
  position:absolute;
  left:471px;
  top:294px;
  width:150px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u81 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u80_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u82 {
  position:absolute;
  left:471px;
  top:320px;
  width:150px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u83 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u82_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u84 {
  position:absolute;
  left:664px;
  top:488px;
  width:90px;
  height:31px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u84_img.mouseOver {
}
#u84.mouseOver {
}
#u85 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:774px;
  top:488px;
  width:80px;
  height:31px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u86_img.mouseOver {
}
#u86.mouseOver {
}
#u87 {
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1164px;
  top:138px;
  width:37px;
  height:51px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:51px;
}
#u90 {
  position:absolute;
  left:2px;
  top:18px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1207px;
  top:153px;
  width:115px;
  height:24px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#C8B3B3;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:24px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1171px;
  top:288px;
  width:30px;
  height:30px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1171px;
  top:248px;
  width:30px;
  height:30px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u96 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:1171px;
  top:208px;
  width:30px;
  height:30px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u98 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:1210px;
  top:213px;
  width:112px;
  height:16px;
  font-size:14px;
  color:#C8B3B3;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:1211px;
  top:253px;
  width:111px;
  height:16px;
  font-size:14px;
  color:#C8B3B3;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:1211px;
  top:293px;
  width:111px;
  height:16px;
  font-size:14px;
  color:#C8B3B3;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:1152px;
  top:238px;
  width:20px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u106 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1159px;
  top:242px;
  width:20px;
  height:13px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:13px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1165px;
  top:281px;
  width:10px;
  height:19px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFCC00;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:19px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:54px;
  top:145px;
  width:215px;
  height:100px;
  font-family:'MV Boli Bold', 'MV Boli';
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#C8B3B3;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:100px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
