body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:650px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:650px;
}
#u2 {
  position:absolute;
  left:2px;
  top:317px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:4px;
  top:20px;
  width:410px;
  height:100px;
  font-family:'Broadway Regular', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#0099FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:100px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1300px;
  top:10px;
  width:30px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1260px;
  top:10px;
  width:30px;
  height:30px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1220px;
  top:10px;
  width:30px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1180px;
  top:10px;
  width:30px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1144px;
  top:10px;
  width:30px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:322px;
  top:138px;
  width:530px;
  height:390px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:390px;
}
#u18 {
  position:absolute;
  left:2px;
  top:187px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:352px;
  top:148px;
  width:30px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:391px;
  top:154px;
  width:200px;
  height:20px;
  font-size:20px;
  color:#0099FF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:360px;
  top:191px;
  width:200px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:360px;
  top:220px;
  width:200px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:360px;
  top:248px;
  width:200px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:360px;
  top:274px;
  width:200px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:360px;
  top:333px;
  width:150px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:559px;
  top:368px;
  width:10px;
  height:7px;
}
#u33_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u33_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u33_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u34 {
  position:absolute;
  left:378px;
  top:368px;
  width:10px;
  height:7px;
}
#u34_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u34_end {
  position:absolute;
  left:-5px;
  top:-10px;
  width:20px;
  height:18px;
}
#u34_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:7px;
}
#u35 {
  position:absolute;
  left:383px;
  top:367px;
  width:180px;
  height:10px;
}
#u35_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u35_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u36 {
  position:absolute;
  left:384px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u36_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u36_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u37 {
  position:absolute;
  left:403px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u37_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:422px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u38_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u38_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:441px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u39_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:460px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u40_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u40_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u41 {
  position:absolute;
  left:479px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u41_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u41_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:498px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u42_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u42_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u43 {
  position:absolute;
  left:517px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u43_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u43_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u44 {
  position:absolute;
  left:535px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u44_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u44_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u45 {
  position:absolute;
  left:553px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u45_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u45_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u46 {
  position:absolute;
  left:360px;
  top:364px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u46_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:564px;
  top:363px;
  width:18px;
  height:18px;
  overflow:hidden;
}
#u47_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u47_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u48 {
  position:absolute;
  left:385px;
  top:363px;
  width:178px;
  height:20px;
  overflow:hidden;
}
#u48_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u48_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:465px;
  top:361px;
  width:10px;
  height:21px;
  overflow:hidden;
  touch-action:none;
}
#u49_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:21px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u49_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:25px;
  overflow:hidden;
}
#u50_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u50_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:20px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:360px;
  top:409px;
  width:30px;
  height:30px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:462px;
  top:407px;
  width:100px;
  height:100px;
  overflow:hidden;
}
#u55_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u55_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u57 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u55_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u59 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u55_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u61 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u55_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u63 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:459px;
  top:245px;
  width:101px;
  height:27px;
  font-size:14px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:27px;
}
#u65 {
  position:absolute;
  left:2px;
  top:6px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:461px;
  top:248px;
  width:98px;
  height:22px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u67 {
  position:absolute;
  left:616px;
  top:216px;
  width:210px;
  height:160px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:160px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68 {
  position:absolute;
  left:616px;
  top:190px;
  width:200px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#333333;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:20px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:460px;
  top:191px;
  width:132px;
  height:20px;
}
#u70_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u70_input:disabled {
  color:grayText;
}
#u71 {
  position:absolute;
  left:461px;
  top:218px;
  width:132px;
  height:20px;
}
#u71_input {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:20px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u71_input:disabled {
  color:grayText;
}
#u72 {
  position:absolute;
  left:459px;
  top:294px;
  width:150px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u73 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u72_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u74 {
  position:absolute;
  left:459px;
  top:320px;
  width:150px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u75 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u74_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u76 {
  position:absolute;
  left:652px;
  top:488px;
  width:90px;
  height:31px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:31px;
}
#u76_img.mouseOver {
}
#u76.mouseOver {
}
#u77 {
  position:absolute;
  left:2px;
  top:6px;
  width:86px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:762px;
  top:488px;
  width:80px;
  height:31px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:31px;
}
#u78_img.mouseOver {
}
#u78.mouseOver {
}
#u79 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1152px;
  top:138px;
  width:33px;
  height:50px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:50px;
}
#u82 {
  position:absolute;
  left:2px;
  top:17px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1195px;
  top:153px;
  width:115px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#0099FF;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:1159px;
  top:288px;
  width:30px;
  height:30px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u86 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:1159px;
  top:248px;
  width:30px;
  height:30px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u88 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:1159px;
  top:208px;
  width:30px;
  height:30px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u90 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:1198px;
  top:213px;
  width:112px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:1199px;
  top:253px;
  width:111px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:1199px;
  top:293px;
  width:111px;
  height:20px;
  font-size:14px;
  color:#0099FF;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:15px;
  top:140px;
  width:220px;
  height:42px;
  font-family:'Bell MT Bold', 'Bell MT';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#0099FF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:42px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
