body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:650px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:650px;
}
#u2 {
  position:absolute;
  left:2px;
  top:317px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:580px;
  top:200px;
  width:220px;
  height:48px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
}
#u3_img.mouseOver {
}
#u3.mouseOver {
}
#u4 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:580px;
  top:284px;
  width:220px;
  height:48px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
}
#u5_img.mouseOver {
}
#u5.mouseOver {
}
#u6 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:580px;
  top:368px;
  width:220px;
  height:48px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:580px;
  top:452px;
  width:220px;
  height:48px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:48px;
}
#u9_img.mouseOver {
}
#u9.mouseOver {
}
#u10 {
  position:absolute;
  left:2px;
  top:14px;
  width:216px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:12px;
  top:32px;
  width:410px;
  height:100px;
  font-family:'Broadway Regular', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:72px;
  color:#C8B3B3;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:100px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1279px;
  top:20px;
  width:30px;
  height:30px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1229px;
  top:22px;
  width:30px;
  height:30px;
  color:#C8B3B3;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:1176px;
  top:22px;
  width:30px;
  height:30px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1124px;
  top:22px;
  width:33px;
  height:30px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1084px;
  top:22px;
  width:30px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1160px;
  top:140px;
  width:37px;
  height:51px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:51px;
}
#u26 {
  position:absolute;
  left:2px;
  top:18px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:1203px;
  top:155px;
  width:115px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#C8B3B3;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:20px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1167px;
  top:290px;
  width:30px;
  height:30px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:1167px;
  top:250px;
  width:30px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1167px;
  top:210px;
  width:30px;
  height:30px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:1206px;
  top:215px;
  width:112px;
  height:20px;
  font-size:14px;
  color:#C8B3B3;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1207px;
  top:255px;
  width:111px;
  height:20px;
  font-size:14px;
  color:#C8B3B3;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1207px;
  top:295px;
  width:111px;
  height:20px;
  font-size:14px;
  color:#C8B3B3;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  word-wrap:break-word;
}
