body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:330px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:20px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u3 {
  position:absolute;
  left:0px;
  top:32px;
  width:220px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:6px;
  top:36px;
  width:206px;
  height:32px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6 {
  position:absolute;
  left:0px;
  top:82px;
  width:220px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u6_img.mouseOver {
}
#u6.mouseOver {
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:46px;
  top:32px;
  width:174px;
  height:48px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#66CC00;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:48px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:32px;
  width:30px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:0px;
  top:32px;
  width:220px;
  height:40px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:6px;
  top:36px;
  width:206px;
  height:32px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:32px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u19 {
  position:absolute;
  left:0px;
  top:102px;
  width:220px;
  height:40px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:72px;
  width:153px;
  height:13px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#FF0000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:13px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
